.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  text-transform: none;
  margin: 33px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  margin: 39px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  margin: 39px auto 0 290px;
}

.u-section-1 .u-group-1 {
  width: 616px;
  min-height: 97px;
  margin: -7px 254px 0 auto;
}

.u-section-1 .u-shape-1 {
  height: 57px;
  background-image: none;
  width: 576px;
  box-shadow: 0px 2px 10px 0px rgba(128,128,128,0.35);
  margin: 20px auto 0 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  font-family: Poppins;
  font-weight: normal;
  margin: -45px auto 0 35px;
  padding: 5px 10px;
}

.u-section-1 .u-group-2 {
  width: 616px;
  min-height: 98px;
  height: auto;
  margin: 22px 254px 0 auto;
}

.u-section-1 .u-shape-2 {
  height: 57px;
  background-image: none;
  width: 576px;
  box-shadow: 0px 2px 10px 0px rgba(128,128,128,0.35);
  margin: 20px auto 0 20px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  font-family: Poppins;
  font-weight: normal;
  margin: -45px auto 0 40px;
  padding: 5px 10px;
}

.u-section-1 .u-text-4 {
  font-family: Poppins;
  margin: -122px auto 0 290px;
}

.u-section-1 .u-text-5 {
  font-family: Poppins;
  margin: 98px auto 0 290px;
}

.u-section-1 .u-group-3 {
  width: 616px;
  min-height: 110px;
  height: auto;
  margin: 11px 254px 60px auto;
}

.u-section-1 .u-shape-3 {
  height: 57px;
  background-image: none;
  width: 576px;
  box-shadow: 0px 2px 10px 0px rgba(128,128,128,0.35);
  margin: 10px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  font-family: Poppins;
  font-weight: normal;
  margin: -43px auto 0 42px;
  padding: 5px 10px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  font-family: Poppins;
  font-weight: normal;
  margin: -32px auto 0 102px;
  padding: 5px 10px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  font-family: Poppins;
  font-weight: normal;
  margin: -31px auto 0 172px;
  padding: 5px 10px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  font-family: Poppins;
  font-weight: normal;
  margin: -33px auto 0 229px;
  padding: 5px 12px 6px 11px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  font-family: Poppins;
  font-weight: normal;
  margin: -32px 273px 0 auto;
  padding: 5px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-2 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-left: 222px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 104px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 104px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 222px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 222px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-left: 167px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 167px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 167px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 26px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 96px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 153px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 98px;
    margin-top: -9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -44px;
    margin-left: 16px;
    padding-top: 4px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -44px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 105px;
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-3 {
    height: 65px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -49px;
    margin-left: 84px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 16px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -30px;
    margin-right: 83px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 29px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 308px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  font-weight: normal;
  width: 803px;
  margin: 47px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 35px auto 47px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 810px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 47px auto 0 171px;
}

.u-section-3 .u-gallery-1 {
  width: 740px;
  height: 512px;
  grid-gap: 10px 10px;
  margin: 18px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 62px;
  height: 62px;
  background-image: none;
  padding: 17px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 62px;
  height: 62px;
  background-image: none;
  left: auto;
  right: 10px;
  padding: 17px;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  margin: 18px auto 0 171px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: 7px auto 60px 194px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 108px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: -62px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 23px;
    margin-left: 16px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 415px;
}

.u-section-4 .u-text-1 {
  margin: 35px auto 0 133px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 961px;
  margin: -59px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  background-image: none;
  width: 371px;
  box-shadow: 0px 2px 10px 0px rgba(128,128,128,0.35);
  min-height: 222px;
  height: auto;
  margin: 58px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 150px 0 22px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 35px auto 0 22px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-group-2 {
  background-image: none;
  box-shadow: 0px 2px 10px 0px rgba(128,128,128,0.35);
  min-height: 221px;
  height: auto;
  width: 371px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 22px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 184px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 115px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-group-1 {
    width: 300px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 101px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-4 .u-group-2 {
    width: 300px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 113px;
    margin-left: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -61px;
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 91px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 47px;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 150px;
}

.u-section-5 .u-text-1 {
  margin: 27px 0;
}