 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/austin-distel-21GWwco-JBQ-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 846px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 2px;
  text-transform: none;
  font-size: 3rem;
  font-weight: normal;
  margin: 139px 837px 0 -28px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: none;
  line-height: 1.4;
  font-style: normal;
  margin: 36px 36px 0;
}

.u-section-1 .u-list-1 {
  margin: 34px 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 228px;
  grid-gap: 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Poppins;
  margin: 0 auto 0 122px;
}

.u-section-1 .u-text-4 {
  line-height: 1.8;
  font-weight: 400;
  font-family: Poppins;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Poppins;
  margin: 0 auto 0 122px;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  font-weight: 400;
  font-family: Poppins;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Poppins;
  margin: 0 auto 0 122px;
}

.u-section-1 .u-text-8 {
  line-height: 1.8;
  font-weight: 400;
  font-family: Poppins;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Poppins;
  font-weight: normal;
  margin: 94px auto 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 737px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 627px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 537px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 157px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-left: 75px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    margin-left: 75px;
  }

  .u-section-1 .u-text-7 {
    font-size: 2.25rem;
    margin-left: 75px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 60px;
  }
}